.container {
    width: 100%;
    height: 100vh;
}

/* .video-js {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    max-height: 100% !important;
    max-width: auto !important;
}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} */

.video-js .vjs-control-bar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

body {
    margin-top: 20px;
    background: #222;
    text-align: center; 
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#333, hsl(200,30%,6%) );
  }